.app {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #a4accb, #95b9e0, #2c94aa);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.container {
  display: block;
  border-radius: 20%;
  width: 290px;
  height: 500px;
}
.input {
  padding: 10px;
}
.row {
  display: flex;
}

.col-3 {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
}
